body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.logo-home-section {
    position: absolute; 
    top: 10px;
    left: 10px;
    display: flex;
}

.ccb-logo-home {
    width: 180px;
    height: auto;
}

.home_flag_image {
    position: absolute;
    width: 100vw;
    height: 200px;
    top: 0px;
}

.home_main_title {
    background-color: None;
    position: absolute;
    display: flex;
    top: 210px;
    margin: 0px;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.home_main_title h1 {
    margin: 0px;
    padding: 0px;
    position: relative;
    font-size: xx-large;
    color: #fab730;
    text-shadow:
        -1px -1px 15px #221956,
        1px -1px 15px #221956,
        -1px  1px 15px #221956,
        1px  1px 15px #221956;
    
}

.nav-section {
    position: absolute;
    top: 160px;
    align-items: flex-end;
    justify-content: end;
    width: 100%;
}

nav ul {
    margin-left: auto;
    padding-left: 0;
    width: auto;
    max-width: 550px;
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    color: #fab730;
    text-shadow:
        -1px -1px 10px #221956,
        1px -1px 10px #221956,
        -1px  1px 10px #221956,
        1px  1px 10px #221956;
}

@media (max-width: 1250px) {

    nav ul {
        margin-right: 3vw;
        width: auto;
        max-width: 550px;
        list-style-type: none;
        display: flex;
        flex: 1;
        justify-content: space-between;
        text-align: center;
        flex-direction: row;
    }

    @media (max-width: 900px) {
        .nav-section {
            position: absolute;
            top: 100px;
            align-items: flex-end;
            justify-content: end;
            width: 100%;
        }
        nav ul {
            margin-right: 3vw;
            width: 50%;
            max-width: 50vw;
            list-style-type: none;
            display: flex;
            flex: 1;
            justify-content: space-between;
            text-align: end;
            flex-direction: column;
        }

        .home_main_title {
            align-items: center;
        }
        
        .home_main_title h1 {
            font-size: 3.5vw;
        }
    }
}
